---
import { type CollectionEntry } from "astro:content";
import ArticleHeader from "$components/ArticleHeader.astro";

type Props = CollectionEntry<"blog">["data"];
const { title, desc, date, updatedDate, tags } = Astro.props;

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <BaseHead title={title} description={desc} /> -->
    <style>
      .prose {
        width: 100%;
        max-width: 100%;
        margin: auto;
        color: var(--main-color);
        margin-bottom: 32px;
        font-size: 1.2rem;
      }
      
      main {
        width: 800px;
        margin: 0 auto;
      }

      @media (max-width: 1200px) {
        main {
          width: 90%;
          max-width: 800px;
        }
      }

      @media (max-width: 768px) {
        main {
          width: 95%;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <article>
          <ArticleHeader title={title} date={date} updatedDate={updatedDate} tags={tags} />
          <div class="prose">
            <slot />
          </div>
      </article>
    </main>
  </body>
</html>

